header {
  width: 100%;
  min-height: 110px;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header .logo {
  margin-right: 250px;
}

header nav {
  display: flex;
  gap: 60px;
  margin-right: 60px;
}

header .buttons-wrapper {
  display: flex;
  gap: 16px;
}

header .menu {
  display: none;
}

@media (max-width: 1490px) {
  header {
    padding: 24px;
    gap: 60px;
  }

  header .logo {
    margin-right: 0;
  }

  header nav {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  header {
    flex-wrap: wrap;
    gap: 30px;
  }

  header nav {
    gap: 16px;
  }
}

@media (max-width: 480px) {
  header {
    justify-content: space-between;
  }

  header nav {
    display: none;
  }

  header .buttons-wrapper {
    display: none;
  }

  header .menu {
    display: initial;
  }
}
